.bg-black {
    background-color: #000;
}

.bg-dark-light {
    background-color: #333;
}

.text-grey {
    color: #aaa;
}

.upwork-color{
    color: #108a00;
}

a {
    text-decoration: none !important;
}

.tags:hover {
    text-decoration: underline !important;
}

.breadcrumb-item+.breadcrumb-item::before{
    color: #eee !important
}