.bg-black {
    background-color: #000;
}

.text-grey {
    color: #aaa;
}

.upwork-color{
    color: #108a00;
}

a {
    text-decoration: none !important;
}

.tags:hover {
    text-decoration: underline !important;
}